* text=auto eol=lf
*.js text
*.mjs text
*.json text
*.md text
*.html text
*.css text
*.yaml text
*.yml text
*.toml text
*.cfg text
*.ini text
*.sh text
*.bat text
*.ps1 text
*.h text
*.c text
*.cpp text
*.hpp text
*.hxx text
*.cxx text
*.rs text
*.go text
*.rsx text
*.swift text
*.java text
*.py text
*.rb text
*.pl text
*.t text
Makefile text
Dockerfile text
*.diff text
*.patch text
artifacts/packaging-foundation/** -text
